div.footer-container
    div.text-center.container
        p 
        |This web app was designed and developed for the sole purpose of displaying my knowledge and skills&#40;portfolio&#41;. 
        |ALL code is written from scratch and no third-party libraries were used. The app uses NodeJs/ExpressJs framework, Typescript, pug,
        |and is Dockerized. <b>Limitations include:</b> 1. lower cap decipher. 2. certain character symbols won't work.
        |<br/>You may see the source code for this project on my  
        a(href="https://github.com/jodadev/otp-web-app" target="_blank" rel="noreferrer noopener") Github
        |account. It is not recommended to use this for securing text/passwords or anything else 
        |related to security - it is not designed for that purpose. Not for commercial use.  
        p.mt-2.small &copy; 2022 Developed, Designed and Hosted by JODA Dev