div.footer-container
    div.text-center.container
        p 
        |This web app was designed and developed for the sole purpose of displaying my knowledge and skills&#40;portfolio&#41;. 
        |ALL code is written from scratch and no third-party libraries were used with the exception of ExpressJs
        |framework. You may see the source code for this project on my  
        a(href="https://github.com/jodadev" target="_blank" rel="noreferrer noopener") Github 
        |account. It is not recommended to use this for securing text/passwords or anything else 
        |related to security - it is not designed for that purpose. Not for commercial use.  
        p.small &copy; 2022 Developed, Designed and Hosted by JODA Dev